<!DOCTYPE html>
<html class="leading-tight text-dark-blue antialiased" lang="en">
  <head>
    {% include "partials/site-head.html" %}
  </head>
  <body
    class="min-h-screen bg-off-white"
    data-env="{{ node.env }}"
    x-data="{ open: false }"
    x-init="() => { setTimeout(() => { open = true }, 1500); }"
  >
    {% include "partials/site-header.html" %}

    <div class="mt-[95px]">{% block content %}{% endblock %}</div>

    <!-- {% include "partials/banner.html" %} -->

    <footer>Starting on the footer</footer>

    <script type="module" src="/main.js"></script>
    <script>
      var booqableOptions = {
        company: 'd3a8d5b9-a61d-401a-8791-7d7eccff8735',
      };
    </script>
    <script src="https://d3a8d5b9-a61d-401a-8791-7d7eccff8735.assets.booqable.com/v2/booqable.js"></script>
  </body>
</html>
