---
layout: 'layouts/home.html'
title: 'Inflatable SUP Rentals'
meta:
  desc: 'Inflatable Stand Up Paddle Board Rentals in Hood River, Oregon. Delivered directly to your vacation rental.'
intro:
  title: 'Inflatable Stand Up Paddle Board Rentals in Hood River, Oregon.'
  desc: 'Pick up or have them delivered to your rental for no extra charge. Take them anywhere. Enjoy.'
why-shr:
  intro: 'Why SUP Hood River?'
  icons:
    - code: 'fa-person-hiking'
      headline: 'Take almost anywhere'
      copy: 'Easy to pack means you can get away from the wind and crowds at the waterfront and explore new places!'
    - code: 'fa-calendar-days'
      headline: 'Long term rentals'
      copy: 'Here for a week? Reserve in advance so you can SUP where you want, when you want.'
    - code: 'fa-location-smile'
      color-swap: true
      headline: 'Drop off / Pick up'
      copy: 'We will drop off and pick up SUPs to your location so you don’t have to worry about logistics.'
    - code: 'fa-hundred-points'
      color-swap: true
      headline: 'High quality gear'
      copy: 'Our rental fleet is comprised of 2022 Slingshot Crossbreed SUP’s. They are inspected after every rental to insure quality.'
how-to:
  intro: How-To Videos
  videos:
    - src: 'https://www.youtube.com/embed/q0s-ikJ5EmM'
      caption: 'Setting Up Your Inflatable SUP'
    - src: 'https://www.youtube.com/embed/q0s-ikJ5EmM'
      caption: 'Setting Up Your Inflatable SUP'
    - src: 'https://www.youtube.com/embed/q0s-ikJ5EmM'
      caption: 'Setting Up Your Inflatable SUP'
where-to:
  intro: Where to SUP
---

<div class="bg-dark-blue">
  <!-- INTRO -->
  <div class="relative">
    <div
      class="relative block md:absolute md:right-0 md:mb-0 md:h-full md:w-10/12"
    >
      <img
        src="https://via.placeholder.com/1416x863"
        alt="Placeholder Image"
        class="h-full w-full rounded rounded-b-none md:rounded-b md:rounded-r-none md:object-cover"
      />
    </div>
    <div class="container relative z-10 mx-auto md:px-8">
      <div class="flex items-center">
        <div class="w-full md:w-8/12 md:py-24 lg:w-5/12">
          <div
            class="rounded rounded-t-none bg-off-white p-8 text-dark-blue md:rounded-t"
          >
            <h1 class="text-3xl font-semibold md:text-5xl">
              {{ intro.title }}
            </h1>
            <p class="mt-4 text-2xl">{{ intro.desc }}</p>
            <div class="booqable-datepicker mt-6"></div>
            <a
              href="/reserve/"
              class="btn mt-2 block w-full rounded-t-none bg-yellow text-center"
              >Check Availability</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Why SHR -->
  <div class="container mx-auto py-24 px-8">
    <h2
      class="underline-wavy mx-auto text-center text-3xl font-bold text-off-white md:text-5xl"
    >
      <span class="wavy">{{ why-shr.intro }}</span>
    </h2>
    <div
      class="mt-20 grid gap-y-8 text-off-white sm:grid-cols-2 sm:gap-x-8 lg:grid-cols-4 lg:gap-x-16"
    >
      {% for icon in why-shr.icons %}
      <div>
        <i
          class="
            fa-duotone 
            {{ icon.code }} 
            fa-4x 
            {% if icon.color-swap %}
            text-off-white
            {% else %}     
            text-yellow
            {% endif %}
          "
          {%
          if
          icon.color-swap
          %}
          style="
            --fa-secondary-opacity: 1;
            --fa-secondary-color: var(--color-yellow);
          "
          {%
          else
          %}
          style="
            --fa-secondary-opacity: 1;
            --fa-secondary-color: var(--color-off-white);
          "
          {%
          endif
          %}
        ></i>
        <h3 class="mt-4 text-2xl font-medium">{{ icon.headline }}</h3>
        <p class="mt-2 font-light">{{ icon.copy }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container mx-auto mt-24 px-8">
  <h2 class="underline-wavy text-center text-3xl font-bold md:text-5xl">
    <span class="wavy">{{ how-to.intro }}</span>
  </h2>
  <div class="mt-20 grid gap-y-8 md:gap-x-8 lg:grid-cols-3">
    {% for video in how-to.videos %}
    <div>
      <iframe
        class="aspect-video w-full"
        src="{{ video.src }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <p class="mt-2 text-lg font-medium">{{ video.caption }}</p>
    </div>
    {% endfor %}
  </div>

  <h2
    id="where-to-sup"
    class="underline-wavy mt-24 text-center text-3xl font-bold md:text-5xl"
  >
    <span class="wavy">{{ where-to-sup.intro }}</span>
  </h2>

  <!-- Tabs -->
  <div
    x-data="{
      selectedId: null,
      // hash: window.location.hash,
      init() {
        // Set the first available tab on the page on page load.
        this.$nextTick(() => this.select(this.$id('tab', 1)))
      },
      select(id) {
        this.selectedId = id
      },
      isSelected(id) {
        return this.selectedId === id
      },
      whichChild(el, parent) {
        return Array.from(parent.children).indexOf(el) + 1
      },
    }"
    x-id="['tab']"
    class="mt-12 w-full"
  >
    <!-- Tab List -->
    <ul
      x-ref="tablist"
      @keydown.right.prevent.stop="$focus.wrap().next()"
      @keydown.home.prevent.stop="$focus.first()"
      @keydown.page-up.prevent.stop="$focus.first()"
      @keydown.left.prevent.stop="$focus.wrap().prev()"
      @keydown.end.prevent.stop="$focus.last()"
      @keydown.page-down.prevent.stop="$focus.last()"
      role="tablist"
      class="-mb-0.5 flex items-stretch rounded-t bg-blue"
    >
      <!-- Tab -->
      {% for location in where-to-sup.locations %}
      <li>
        <button
          :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
          @click="select($el.id)"
          @mousedown.prevent
          @focus="select($el.id)"
          type="button"
          :tabindex="isSelected($el.id) ? 0 : -1"
          :aria-selected="isSelected($el.id)"
          :class="isSelected($el.id) ? 'border-blue bg-off-white text-blue cursor-default' : 'border-transparent text-off-white bg-blue hover:brightness-110'"
          class="inline-flex rounded-t border-2 border-b-0 px-4 py-2.5 font-medium text-off-white"
          role="tab"
        >
          {{ location }}
        </button>
      </li>
      {% endfor %}
    </ul>

    <!-- Panels -->
    <div role="tabpanels" class="rounded-b border-2 border-blue bg-off-white">
      <!-- Panel 1 - Hood River -->
      <section
        x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
        class="p-8"
      >
        <div class="where-to-sup-grid mt-12 grid gap-x-24 md:grid-cols-2">
          <div class="space-y-8">
            <img
              src="https://via.placeholder.com/641x866"
              alt="Placeholder Image"
            />
            <img
              src="https://via.placeholder.com/641x641"
              alt="Placeholder Image"
            />
          </div>
          <div class="">
            {% for location in where-to-sup.hood-river %} {% include
            "partials/where-to-sup-entry.html" %} {% endfor %}
          </div>
        </div>
      </section>

      <!-- Panel 2 - HR Waterfront -->
      <section
        x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
        class="p-8"
      >
        <div class="where-to-sup-grid mt-12 grid gap-x-24 md:grid-cols-2">
          <div class="space-y-8">
            <img
              src="https://via.placeholder.com/641x866"
              alt="Placeholder Image"
            />
            <img
              src="https://via.placeholder.com/641x641"
              alt="Placeholder Image"
            />
          </div>
          <div class="">
            {% for location in where-to-sup.hr-waterfront %} {% include
            "partials/where-to-sup-entry.html" %} {% endfor %}
          </div>
        </div>
      </section>

      <section
        x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
        class="p-8"
      >
        <div class="where-to-sup-grid mt-12 grid gap-x-24 md:grid-cols-2">
          <div class="space-y-8">
            <img
              src="https://via.placeholder.com/641x866"
              alt="Placeholder Image"
            />
            <img
              src="https://via.placeholder.com/641x641"
              alt="Placeholder Image"
            />
          </div>
          <div class="">
            {% for location in where-to-sup.mt-hood %} {% include
            "partials/where-to-sup-entry.html" %} {% endfor %}
          </div>
        </div>
      </section>

      <section
        x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
        :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
        role="tabpanel"
        class="p-8"
      >
        <div class="where-to-sup-grid mt-12 grid gap-x-24 md:grid-cols-2">
          <div class="space-y-8">
            <img
              src="https://via.placeholder.com/641x866"
              alt="Placeholder Image"
            />
            <img
              src="https://via.placeholder.com/641x641"
              alt="Placeholder Image"
            />
          </div>
          <div class="">
            {% for location in where-to-sup.mosier-dalles %} {% include
            "partials/where-to-sup-entry.html" %} {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="flex items-end justify-end">
    <span
      class="mt-2 inline-block border-b-2 border-dark-blue pb-0.5 text-dark-blue transition-all hover:border-blue hover:text-blue"
      ><a href="#where-to-sup" class="font-semibold"
        >Back to location selector <i class="fa-solid fa-up inline"></i></a
    ></span>
  </div>

  <h2 class="underline-wavy mt-24 text-center text-3xl font-bold md:text-5xl">
    <span class="wavy">{{ faqs.intro }}</span>
  </h2>
  <div class="mx-auto mt-16 max-w-screen-lg space-y-8">
    {% for accordion in faqs.accordions %}
    <div>
      <h3 class="text-2xl font-medium text-blue">{{ accordion.title }}</h3>
      <div x-data="{ active: 1 }" class="space-y-4">
        {% for question in accordion.questions %}
        <div
          x-data="{
                id: {{ forloop.index }},
                get expanded() {
                  return this.active === this.id
                },
                set expanded(value) {
                  this.active = value ? this.id : null
                },
              }"
          role="region"
          class="rounded bg-dark-blue shadow"
        >
          <h2>
            <button
              x-on:click="expanded = !expanded"
              :aria-expanded="expanded"
              class="flex w-full items-center justify-between px-6 py-4 text-lg font-medium text-yellow"
            >
              <span>{{ question.question }}</span>
              <span x-show="expanded" aria-hidden="true" class="ml-4"
                >&minus;</span
              >
              <span x-show="!expanded" aria-hidden="true" class="ml-4"
                >&plus;</span
              >
            </button>
          </h2>

          <div x-show="expanded" x-collapse>
            <div class="px-6 pb-4 font-light text-off-white">
              {{ question.answer }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="relative mt-24 w-full bg-dark-blue py-24">
  <img
    src="https://via.placeholder.com/1900x500"
    alt="Placeholder Image"
    class="absolute top-0 left-0 z-0 h-full w-full object-cover opacity-60"
  />
  <div class="container relative z-10 mx-auto px-8 text-center text-off-white">
    <h2 class="text-3xl font-semibold md:text-5xl">Let's Go SUP</h2>
    <p class="mt-4 text-lg">SUPs delivered directly to your vacation rental.</p>
    <a href="#" class="btn mt-6 bg-yellow">Book Now</a>
  </div>
</div>
