<div class="wts-entry">
  <div class="space-y-4">
    {% if location.favorite %}
    <span
      class="inline-block rounded bg-blue py-1 px-2 text-xs font-medium uppercase text-white"
      >Staff Favorite</span
    >
    {% endif %}
    <h3 class="text-2xl font-medium">{{ location.title }}</h3>
    {% if location.drive-time %}
    <p>
      Drive time from Hood River:
      <span class="font-semibold">{{ location.drive-time }}</span>
    </p>
    {% endif %} {% if location.level %}
    <p>Access Level: <span class="font-semibold">{{ location.level }}</span></p>
    {% endif %} {% if location.description %} {{ location.description }} {%
    endif %}
  </div>
  {% if location.directions or locations.learn-more %}
  <div class="mt-6 flex gap-x-4">
    {% if location.directions %}
    <a
      href="{{ location.directions }}"
      class="btn bg-yellow text-dark-blue"
      target="_blank"
      rel="nofollow noopener"
      >Directions</a
    >
    {% endif %} {% if location.learn-more %}
    <a
      href="#"
      class="btn border-2 border-dark-blue text-dark-blue hover:bg-dark-blue hover:text-off-white"
      >Learn More</a
    >
    {% endif %}
  </div>
  {% endif %}
</div>
